MYSQL_PASSWORD=coloca_una_contrasena_local
MYSQL_ROOT_PASSWORD=coloca_otra_contrasena_local
JWT_SECRET=coloca_aqui_un_secreto_de_al_menos_32_caracteres
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
